
        htnl, body {
            background-color: #000;
            color:rgb(237, 235, 219);
            max-width: 1440px;
            margin-left: auto;
            margin-right: auto;
        }

        span.gold::after {
            color: gold;
            content: 'G'
        }

        span.silver::after {
            color: silver;
            content: 'S'
        }

        span.bronze::after {
            color: #cd7f32;
            content: 'B'
        }

        span.golden {
            color: gold;
        }

        span.Silver {
            color: silver;
        }

        span.blue {
            color: #3c32cd
        }

        span.black {
            color: rgb(32, 31, 31)
        }

        span.red {
            color: red
        }

        span.orange {
            color: orange
        }

        span.bow::after {
            content: "👔"
        }

        span.chain::after {
            content: "⛓️"
        }

        span.pin::after {
            content: "🐕"
        }
    
